body{
	background-color: lightcyan;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
	color: rgb(200,150,100)
}
p {
	color: black;
}
h1 {
	text-decoration: underline;
}
img {
	height: 300 px;
}